In [10]:
import pandas as pd
import statistics
import numpy as np

# Declaration
# Descriptive Statistic for Average Test Score by Aspect per Age Group
data = pd.read_csv("Drivers License Data.csv")

# Unique values for Age Group
age_groups = data['Age Group'].unique().tolist()

test_columns = [
    "Signals", "Yield", "Speed Control", "Night Drive", "Road Signs",
    "Steer Control", "Mirror Usage", "Confidence", "Parking", "Theory Test"
]

results = []
for age in age_groups:
    age_data = data[data['Age Group'] == age]
    total_participant = age_data['Applicant ID'].count()
    
    result_row = {
        'Age Group': age,
        'Total Participant': total_participant,
    }

    # Compute averages for each test column
    for col in test_columns:
        result_row[f'Average {col}'] = round(age_data[col].mean(), 2)

    results.append(result_row)

# Sort
res_df = pd.DataFrame(results)
res_df = res_df.sort_values(by='Total Participant', ascending=False)
res_df

,Age Group,Total Participant,Average Signals,Average Yield,Average Speed Control,Average Night Drive,Average Road Signs,Average Steer Control,Average Mirror Usage,Average Confidence,Average Parking,Average Theory Test
0,Young Adult,241,51.06,48.85,49.47,50.34,49.64,48.95,49.17,49.54,49.41,70.73
1,Middle Age,147,51.53,52.93,51.42,51.79,52.98,51.05,52.76,52.85,53.43,70.48
2,Teenager,112,39.13,38.74,40.04,37.46,37.02,39.41,39.94,36.78,39.86,70.60

In [16]:
import pandas as pd
import statistics
import numpy as np

# Declaration
# Descriptive Statistic for Average Test Score by Aspect per Training
data = pd.read_csv("Drivers License Data.csv")

# Unique values for Training
training_groups = data['Training'].unique().tolist()

test_columns = [
    "Signals", "Yield", "Speed Control", "Night Drive", "Road Signs",
    "Steer Control", "Mirror Usage", "Confidence", "Parking", "Theory Test"
]

results = []
for training in training_groups:
    training_data = data[data['Training'] == training]
    total_participant = training_data['Applicant ID'].count()
    
    result_row = {
        'Training': training,
        'Total Participant': total_participant,
    }

    # Compute averages for each test column
    for col in test_columns:
        result_row[f'Average {col}'] = round(training_data[col].mean(), 2)

    results.append(result_row)

# Sort
res_df = pd.DataFrame(results)
res_df = res_df.sort_values(by='Total Participant', ascending=False)
res_df

,Training,Total Participant,Average Signals,Average Yield,Average Speed Control,Average Night Drive,Average Road Signs,Average Steer Control,Average Mirror Usage,Average Confidence,Average Parking,Average Theory Test
2,Basic,198,49.34,49.45,48.54,48.51,49.06,49.11,49.38,49.86,50.04,71.01
1,Advanced,152,60.68,58.65,58.75,59.45,58.91,58.39,59.10,58.13,59.70,71.12
0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
import pandas as pd

# Display Option
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

# Declaration
# Descriptive Statistic for 10 Most Highest Practice Score
df = pd.read_csv("Drivers License Data.csv")

# All Score Field
float_cols = df.select_dtypes(include='float64').columns.tolist()
# Exclude 'Theory Test', to get Practice Score
score_cols = [col for col in float_cols if col != 'Theory Test']

# Count Total
df['Total Practice Test Score'] = df[score_cols].sum(axis=1)
df['Average Practice Test Score'] = df[score_cols].mean(axis=1)
result = df[['Applicant ID', 'Gender', 'Age Group', 'Total Practice Test Score', 'Average Practice Test Score', 'Theory Test']]

# Sort and Get top 10
top10 = result.sort_values(by='Total Practice Test Score', ascending=False).head(10)
print(top10)

    Applicant ID  Gender    Age Group  Total Practice Test Score  Average Practice Test Score  Theory Test
325      AID0326  Female   Middle Age                     656.39                    72.932222        52.89
285      AID0286    Male   Middle Age                     636.85                    70.761111        45.30
429      AID0430  Female   Middle Age                     633.44                    70.382222        91.14
191      AID0192    Male   Middle Age                     626.93                    69.658889        97.69
489      AID0490    Male  Young Adult                     625.84                    69.537778        81.64
235      AID0236  Female   Middle Age                     621.40                    69.044444        42.14
398      AID0399  Female   Middle Age                     619.97                    68.885556        51.01
263      AID0264    Male   Middle Age                     605.06                    67.228889        76.76
297      AID0298    Male  Young Adult                     602.36                    66.928889        65.47
14       AID0015  Female   Middle Age                     600.80                    66.755556        91.64

In [21]:
import pandas as pd

# Display Option
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

# Declaration
# Descriptive Statistic for Average Test Score by Gender and Age Group
df = pd.read_csv("Drivers License Data.csv")

# All Score Field
float_cols = df.select_dtypes(include='float64').columns.tolist()
# Exclude 'Theory Test', to get Practice Score
score_cols = [col for col in float_cols if col != 'Theory Test']

# Count Total
df['Total Practice Test Score'] = df[score_cols].sum(axis=1)
df['Average Practice Test Score'] = df[score_cols].mean(axis=1)

# Grouping and Aggregating
grouped = df.groupby(['Gender', 'Age Group'])[['Total Practice Test Score', 'Average Practice Test Score', 'Theory Test']].mean().reset_index()

# Round
grouped = grouped.round(2)
grouped = grouped.sort_values(by='Average Practice Test Score', ascending=False)
print(grouped)

   Gender    Age Group  Total Practice Test Score  Average Practice Test Score  Theory Test
0  Female   Middle Age                     486.02                        54.00        67.90
3    Male   Middle Age                     457.60                        50.84        72.69
5    Male  Young Adult                     452.58                        50.29        70.96
2  Female  Young Adult                     441.32                        49.04        70.54
4    Male     Teenager                     351.53                        39.06        69.96
1  Female     Teenager                     345.24                        38.36        71.24